@import "vars";

#main {
    display: flex;
    justify-content: center;
    padding: 150px 0;
    ul {
        width:1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        li {
            margin: 5px;
            width:calc(25% - 10px);
            perspective: 1200px;//원근
            a {
                position: relative;
                display: block;
                transform-style: preserve-3d;

                transform:translateZ(-1px);
                .front {
                    //position: absolute;
                    background: url("../images/dark-canvas.gif");
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    padding:50px 0;
                    .img {
                        transform:translateZ(100px); // z축으로 밀어넣기....
                        img {
                            width:100%;
                        }
                    }
                }
                .back {
                    position: absolute;
                    background-color: #fff;
                    width:100%;
                    height: 100%;
                    top:0;
                    transform: rotateX(-180deg);
                    transform-style: preserve-3d;
                    backface-visibility: hidden;

                    .info {
                        transform:translateZ(80px);
                        padding:30px;
                        height: 100%;
                        width:100%;
                        position: absolute;
                    }
                    .category {
                        font-size: 1.4rem;
                        font-weight: 500;
                    }
                    .title {
                        margin-top: 20px;
                        font-size: 3.2rem;
                        line-height: 1.25;
                        font-weight: 300;
                        margin-bottom: 30px;
                        text-shadow:3px 3px 3px rgba(0,0,0,0.1);
                    }
                    .depth {
                        display: inline-block;
                        padding-bottom: 5px;
                        border-bottom: 1px solid #f00;
                        margin-bottom: 80px;
                    }
                    .price {
                        font-size: 24px;
                        font-weight: 700;
                        position: absolute;
                        bottom: 30px;
                    }
                }
            }
        }
    }
}